{% extends 'base.html' %}

{% block head %}
<title>Grocery Store Management - Login</title>
{% endblock %}

{% block body %}
<h1>Login</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form action="{{ url_for('home') }}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="passw" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}