body {
    margin: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: .5em;
    color: #333333;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}
